    *{
    margin: 0px;
    padding: 0px;
}
.navi{
    list-style:none;
    top:0;
    text-align:center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position:fixed;
}
body {
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  } 
.navi li{
    display:inline;
}
.navi a{
    display:inline-block;
    padding: 16px 16px;
    text-decoration: none;
    color: black;
}

.navi a:hover{
    background-color: #555;
    color: white;
}

.topnav-right{
    float:right;
}

.logo-css{
        padding-top:26px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
}

.logo-handler{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width:100%;
    padding-bottom: 36px;
    padding-top: 36px;
    background-color: white;
}
.weird-area{
    color:rgba(0,0,0,0);
    width: 100%;
    height: 200px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weird-area-2{
    color:rgba(0,0,0,0);
    width: 100%;
    height: 200px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome-nibbas{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: auto ;
    padding-top: auto;
    color: rgba(0, 0, 0, 1);
    font-size: 50;
    text-align: center;
}

.weird-area-again{
    width: 100%;
    background-color : rgba(255,255,255,0.6);
    padding-bottom: 80px;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;

    padding-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    background-color: rgb(175, 76, 158); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.catalogue{
    width: 100%;

    background-color : rgba(255,255,255,1);
    padding-bottom: 80px;
    padding-top: 80px;
    
}
.grid-container {
    width: 100%;
    background-color : rgba(255,255,255,1);
    padding-bottom: 80px;
    padding-top: 80px;
    

    margin-right: auto;
    
    padding-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    align-items: center;
    justify-content: center;
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto;

  }

  .item {
    width: 256px;
    height: 256px;
  }
  
  .item:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
  }

  .bg { background:url("{{ url_for('static',    filename='idk.jpeg') }}") center;
     height: 100vh;
     background-size: cover; }
  
  .login input { background: #fff; border: none; margin: 10px 0px; padding:20px;     height: 50px; }

  #todoList label{
    width: 80%;
}
#todoList li{
    list-style-type: none;
}
.completed{

}
.uncompleted label{
    color: #afa7a7;
    text-decoration: line-through;
}
#todoList .btn{
    margin-left: 10px;
}
.task-list {
    width: 250px;
    float: left;
    margin: 0 5px;
    background-color: #e3e3e3;
    min-height: 240px;
    border-radius: 10px;
    padding-bottom: 15px;
  }
  .task-list input, .task-list textarea {
    width: 240px;
    margin: 1px 5px;
  }
  .task-list input {
    height: 30px;
  }
  .todo-task {
    border-radius: 5px;
    background-color: #fff;
    width: 230px;
    margin: 5px;
    padding: 5px;
  }
  .task-list input[type="button"] {
    width: 100px;
    margin: 5px;
  }
  .todo-task > .task-header {
    font-weight: bold;
  }
  .todo-task > .task-date {
    font-size: small;
    font-style: italic;
  }
  .todo-task > .task-description {
    font-size: smaller;
  }
  h3 {
    text-align: center;
  }
  #delete-div {
    background-color: #fff;
    border: 3px dotted #000;
    margin: 10px;
    height: 75px;
    line-height: 75px;
    text-align: center;
  }
