<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='css/bruhwtf.css') }}">

    </head>
    <body>
        <style>
            body{
            background-image: url("static/images/background.jpg");
            }
            
            .bg { background:url("static/idk.jpeg") center;
            height: 100vh;
     background-size: cover; }
        </style>
        <div class="topnav">

            <!-- Centered link -->
            <ul class="navi">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/todo">Todo List</a></li>


                <div class="topnav-right">
                    <a href="#Login">Login</a>
                    <a href="#Register">Register</a>
                  </div>
              </ul>
        </div>
        <div class="logo-handler">
          <img src="static/logo.jpg.webp" alt="Flowers in Chania" class="logo-css">
        </div>
        <div class="weird-area">
               <h1 class="welcome-nibbas">About</h1>
        </div>
     

        <div class="container-fluid"> 
            <div class="row ">
                <div class="col-sm-6 bg">
                    
                </div>
                <div class="col-sm-6 bg-dark text-white">
                    <div class="row pt-5">
                        <div class="col-md-8 col-sm-10 offset-sm-1 offset-md-2">
                            <h4>About</h4>
                            <hr>
                            <h5>Professional wedding planner.</h5>

                            <hr>
                            <p>wedding bellz was born in 2000 out of a passion for helping other people. I make the most important events in my clients’ lives be as memorable and enjoyable as possible. Through strategic partnerships formed over the years, I’ve learned to be flexible and accommodating to each client’s unique needs and preferences. I hope you’ll let me plan your next unforgettable event. You won’t regret it.</p>
                            <hr>
                            <p>myday@yahoo.com</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="logo-handler">
            <img src="static/logo.jpg.webp" alt="Flowers in Chania" class="logo-css">
          </div>
        </body>
    </html> 