<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='css/bruhwtf.css') }}">

    </head>
    <body >
        <style>
            body{
            background-image: url("static/images/background.jpg");
            }
            
            .bg { background:url("static/idk.jpeg") center;
            height: 100vh;
     background-size: cover; }
        </style>
        <div class="topnav">

            <!-- Centered link -->
            <ul class="navi">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/todo">Todo List</a></li>


                <div class="topnav-right">
                    <a href="login.html">Login</a>
                    <a href="register.html">Register</a>
                  </div>
              </ul>
        </div>
        <div class="logo-handler">
          <img src="static/logo.jpg.webp" alt="Flowers in Chania" class="logo-css">
        </div>
        <div class="weird-area">
               <h1 class="welcome-nibbas">Welcome To My Day</h1>
        </div>
     


        <div class="weird-area-again">
            <button class="button button2">Learn More</button>
        </div>

        <div class="catalogue">
            <h1 class="welcome-nibbas">Catalogue</h1>
            <div class="grid-container">
            
                <div class="grid-item">
                    <a href="/catalog/women_fashions">
                    <img src="static/womenfashion.png" alt="a7oh" class="item" >
                    </a>
                </div>
                <div class="grid-item">
                    <img src="static/menfashion.png" alt="a7oh" class="item">
                </div>
                <div class="grid-item">
                    <img src="static/hairmakeup.png" alt="a7oh" class="item">
                </div>
                <div class="grid-item">
                    <img src="static/photagraphers.png" alt="a7oh" class="item">
    
                </div>
                <div class="grid-item">
                    <img src="static/catering.png" alt="a7oh" class="item" >
                </div>
                <div class="grid-item">
                    <img src="static/weddingplanners.png" alt="a7oh" class="item">
                </div>
                <div class="grid-item">
                    <img src="static/personalcarespa.png" alt="a7oh" class="item">
                </div>
                <div class="grid-item">
                    <img src="static/venues.png" alt="a7oh" class="item">
                </div>
                <div class="grid-item">
                    <img src="static/flowers.png" alt="a7oh" class="item">
                </div>
                <div class="grid-item">
                    <img src="static/carrental.png" alt="a7oh" class="item">
                </div>
                <div class="grid-item">
                    <img src="static/travel.png" alt="a7oh" class="item">
                </div>
            </div>
       </div>
        
       <div class="container-fluid"> 
        <div class="row ">
            <div class="col-sm-6 bg">
                
            </div>
            <div class="col-sm-6 bg-dark text-white">
                <div class="row pt-5">
                    <div class="col-md-8 col-sm-10 offset-sm-1 offset-md-2">
                        <h4>Contact Me</h4>
                        <p>You can send suggestions to help us.</p>
                        <p>Cairo</p>
                        <p></p>
                        <p>myday@yahoo.com</p>
                       <div class="login">
                                                      
                        <form action="" class="pt-3">
                                
                            <input type="text" name="" id="" class="form-control" required placeholder="Name">
                            <input type="email" name="" id="" class="form-control" required placeholder="E-mail">
                            <input type="text" name="" id="" class="form-control" required placeholder="Subject">

                            <input type="text" name="" id="" class="form-control" required placeholder="Type your message here.">
                            
                            <button class="btn btn-primary">Submit</button>
                     </form>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="logo-handler">
        <img src="static/logo.jpg.webp" alt="Flowers in Chania" class="logo-css">
      </div>
    </body>
</html>