<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='css/bruhwtf.css') }}">


        <script src="{{ url_for('static',    filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',    filename='js/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static',    filename='js/jquery.ui.touch-punch-improved.js') }}"></script>
        <script src="{{ url_for('static',    filename='js/bootstrap.min.js') }}"></script>

    </head>
    <body onload="fetchTask()">
        <style>
            body{
            background-image: url("static/images/background.jpg");
            }
            
            .bg { background:url("static/idk.jpeg") center;
            height: 100vh;
     background-size: cover; }
        </style>
        <div class="topnav">

            <!-- Centered link -->
            <ul class="navi">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/todo">Todo List</a></li>


                <div class="topnav-right">
                    {% if current_user.is_anonymous %}
                    <a href="/Login">Login</a>
                    <a href="/Register">Register</a>
                    {% else %}
                    <a href="/Logout">Logout</a>
                    {% endif %}
                  </div>
              </ul>
        </div>
        <div class="logo-handler">
            <img src="static/logo.jpg.webp" alt="Flowers in Chania" class="logo-css" height=100  width=110  >
        </div>


     <div class="container">
         <div class="jumbotron" style="background-color: white;">
            <form id="myForm">
                <div class="form-group">
                    <label >Taske Name</label>
                    <input class="form-control" type="text" name="" id="taskName"/>
                </div>
                <div class="form-group">
                    <label >Task description</label>
                    
                    <textarea class="form-control" id="taskDescription"  rows="10"></textarea>
                </div>
                <div class="form-group">
                    <Label>Task date</Label>
                    <input class="form-control" type="date" name="" id="taskDate"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger" style="background-color:fuchsia" type="submit" onclick="fetchTask()" >Save Task</button>
                </div>
            </form>
        </div>
     </div>
<div class="">
         <div class="jumbotron" style="background-color: white;">
         <div class="row-marketing">
            <div class="col-lg-12">
                <div id="taskResults">

                </div>
            </div>
         </div>
         </div> 
</div> 
                
</main>
<script>
    document.getElementById('myForm').addEventListener('submit', saveTask);
    
    function simpleStringify (object){
    var simpleObject = {};
    for (var prop in object ){
        if (!object.hasOwnProperty(prop)){
            continue;
        }
        if (typeof(object[prop]) == 'object'){
            continue;
        }
        if (typeof(object[prop]) == 'function'){
            continue;
        }
        simpleObject[prop] = object[prop];
    }
    return JSON.stringify(simpleObject); // returns cleaned up JSON
};
function saveTask(e){
    var taskName = document.getElementById("taskName").value;
    var taskDescription = document.getElementById("taskDescription").value;
    var taskDate = document.getElementById("taskDate").value;
    
    var task = {
    name:taskName,
    description:taskDescription,
    date:taskDate
    }
    e.preventDefault();
    if(localStorage.getItem('tasks')==null){
        var tasks =[]; 
        tasks.push(task);
        localStorage.setItem('tasks',JSON.stringify(tasks));
    }
    else{
        var myTask = JSON.parse(localStorage.getItem('tasks')); 
        console.log(simpleStringify(myTask))
        myTask.push(task);
        // then reset the localStorage
        localStorage.setItem('tasks',simpleStringify(myTask));
    }
}

function fetchTask(){
    console.log('yasater');
    
    var taskret = JSON.parse(localStorage.getItem('tasks'));

    var taskResult =  document.getElementById('taskResults');
    taskResult.innerHTML = " ";

    for (let i = 0; i < taskret.length; i++) {
        var name   = taskret[i].name;
        var description = taskret[i].description;        
        var date = taskret[i].date;        
        console.log(name);
        console.log('asdfasd');
        taskResult.innerHTML+= '<div class="card"><h3>Task:  '+name+'</h3> <h3>Description:  '+description+'</h3> <h3> DATE:  '+date+' </h3> <button class="btn btn-danger"  type="submit" onclick="removeKolo()">Done</button> '
        '</div>'
    }
}

function removeKolo(){
    localStorage.clear();
    fetchTask();
}


</script>

</body>
    </html> 